<div class="radial-gradient min-vh-100 w-100 d-flex align-items-center justify-content-center">
  <div class="d-flex justify-content-center w-100">
    <div class="row justify-content-center w-100">
      <div class="col-md-8 col-lg-6 col-xxl-3 auth-card">
        <div class="card mb-0">
          <div class="card-body">
            <div class="text-center">
              <img alt="Logo de ATOM Chat" class="mb-4" ngSrc="assets/images/logo-atom-chat.webp" width="192.5"
                height="55" priority />
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="submit()">
              <div class="mb-4">
                <app-control-message [control]="loginForm.get('email')!">
                  <label for="email" class="form-label">Correo electrónico</label>
                  <input type="email" formControlName="email" id="email" class="form-control"
                    aria-describedby="emailHelp" aria-required="true">
                  <div id="emailHelp" class="form-text">Nunca compartiremos tu correo con nadie.</div>
                </app-control-message>
              </div>
              <button type="submit" [disabled]="isLoading" class="btn btn-primary w-100 py-8 mb-4 rounded-2">
                <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status"
                  aria-hidden="true"></span>
                Ingresar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>