@import '../../../assets/scss/variables';

.task-container {
    min-height: 100vh;
    background-color: $light;

    &__filter {
        .nav-item a {
            font-size: 14px;
        }
    }

    @media (max-width: 768px) {
        .nav-item:last-child {
            order: -1;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;
        }
    }
}