<div class="page-wrapper">
    <header class="topbar card rounded-0 border-0">
        <div class="d-flex justify-content-end my-3">
            <button class="btn btn-outline-danger" (click)="logout()">Cerrar sesión</button>
        </div>
    </header>

    <div class="body-wrapper">
        <div class="container-fluid">
            <h1 class="text-center mb-4">Tareas</h1>

            <ul class="nav nav-pills p-3 mb-3 rounded align-items-center card flex-row">
                <li class="nav-item">
                    <a (click)="filterTasks('all')" class="nav-link" [ngClass]="{'active': filter === 'all'}">
                        <span class="d-none d-md-block font-weight-medium">Todo</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a (click)="filterTasks('completed')" class="nav-link"
                        [ngClass]="{'active': filter === 'completed'}">
                        <span class="d-none d-md-block font-weight-medium">Completados</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a (click)="filterTasks('pending')" class="nav-link" [ngClass]="{'active': filter === 'pending'}">
                        <span class="d-none d-md-block font-weight-medium">Pendientes</span>
                    </a>
                </li>

                <li class="nav-item ms-auto">
                    <a (click)="openModal()" class="btn btn-primary d-flex align-items-center px-3 gap-6"
                        id="add-notes">
                        <i class="ti ti-file fs-4"></i>
                        <span class="d-none d-md-block font-weight-medium fs-3">Agregar tarea</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="note-full-container" class="note-has-grid row">
                    @for (task of tasksFiltered; track task.id) {
                    <div class="col-md-4 single-note-item">
                        <app-card-task [task]="task" />
                    </div>
                    }
                    @if (tasksFiltered.length === 0) {
                    <div class="col-12">
                        <div style="height: calc(100vh - 350px);"
                            class="d-flex flex-column align-items-center justify-content-center">
                            <img ngSrc="assets/images/empty-tasks.png" alt="No hay tareas" class="img-fluid" width="200"
                                height="200">
                            <h4 class="text-center">No se encontraron tareas</h4>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>