<div class="container-not-found">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row d-flex justify-content-center align-items-center" style="min-height: 100vh">
                    <div class="col-md-5">
                        <div class="text-center">
                            <ng-lottie [options]="notFound" class="img-fluid"></ng-lottie>
                            <h4>Página no encontrada</h4>
                            <p>El sitio que busca no está disponible.</p>
                            <a (click)="goHome()" class="btn button-primary my-3">Regresar al inicio</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>