@import 'assets/scss/variables';

.button-primary {
    background-color: $primary;
    color: #fff;
    border: 1px solid $primary;
}

.button-primary:hover {
    transform: translateY(-1px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: $primary;
    color: #fff;
}

.button-outline-primary {
    background-color: #fff;
    color: $primary;
    border: 1px solid $primary;
}

.button-outline-primary:hover {
    transform: translateY(-1px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: $primary;
    color: #fff;
}

.pointer {
    cursor: pointer;
}